.booking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20rem;
  width: 90%;
  padding: 2.5rem 2rem;
  align-self: center;
  margin: 2rem auto;
  gap: 1rem;

  .error-toast {
    background-color: #fafafa;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    width: 100%;
    margin-top: 2rem;
    font-size: 1rem;
  }
  .top {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .image-room {
      min-height: 9rem;
      width: 20rem;
      object-fit: cover;
      border-radius: 5px;
      box-shadow: 4px 6px 5px -3px rgba(0, 0, 0, 0.28);
      -webkit-box-shadow: 4px 6px 5px -3px rgba(0, 0, 0, 0.28);
      -moz-box-shadow: 4px 6px 5px -3px rgba(0, 0, 0, 0.28);
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.4rem;
      width: 100%;
      background-color: ghostwhite;
      padding: 1rem 3.5rem;

      .p2 {
        font-weight: 600;
        cursor: pointer;
      }
      .p3 {
        &:hover {
          color: red;
        }
      }

      .free-wrapper {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        margin-top: 2rem;

        .refund {
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .ctool {
            width: inherit;
            height: inherit;
          }

          .error-icon {
            font-size: 1rem;
            margin-left: 7px;
            color: lightgrey;

            &:hover {
              color: gray;
            }
          }
        }
        .break {
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .res {
            font-size: 1rem;
            margin-left: 4px;
            color: lightgrey;

            &:hover {
              color: gray;
            }
          }
        }
      }

      .title {
        font-weight: 400;
        font-size: 2rem;
      }
    }
    .b-cost {
      width: 55rem;
      border-right: 5px solid orangered;
      padding: 1rem 0 0;
      background-color: #fafafa;
      min-height: 19rem;

      .b-row2 {
        display: flex;
        flex-direction: row;
        gap: 0.1rem;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
      }

      .b-details {
        margin-left: 1.1rem;
        font-size: 1.3rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      .b-row1 {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        margin-top: 0.6rem;

        .b-rooms {
          font-size: 1rem;
        }

        .b-tcost {
          font-size: 1rem;
        }
        .b-day {
          font-size: 1rem;
        }
      }
    }
  }

  .center {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 4rem;

    .lcenter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .c-title {
        font-weight: bold;
        font-size: 1.1rem;
      }

      .c-warn {
        font-size: 1rem;
        color: green;
      }
    }
    .mcenter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .people {
        color: rgb(141, 141, 141);
      }
    }
    .mmid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .mright {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      .cal {
        color: lightgrey;

        &:hover {
          color: gray;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 1090px) {
  .booking {
    padding: 1rem 0.7rem 2rem;
    margin: 1rem auto;
    width: 95%;

    .top {
      display: flex;
      flex-direction: column;

      .image-room {
        width: 100%;
        margin: 0;
        height: 7rem;
        border-radius: 2px;
      }

      .wrapper {
        width: 100%;
        border: none;
        padding: 1rem;
        font-size: 13px;

        .title {
          font-weight: 400;
          font-size: 1.5rem;
        }
      }
      .b-cost {
        width: 100%;
        padding: 2rem 2rem 2rem 0;
        border-right: none;

        .b-row2 {
          display: flex;
          flex-direction: column-reverse;
          width: 100%;
          justify-content: center;
          margin: 0 auto;
          margin-top: 2rem;
        }

        .b-details {
          margin-left: 1rem;
          font-size: 1rem;
          font-weight: 600;
          text-transform: uppercase;
        }

        .b-row1 {
          display: flex;
          flex-direction: column;
          margin-left: 2rem;
          margin-top: 0.6rem;

          .b-rooms {
            font-size: 1rem;
          }

          .b-tcost {
            font-size: 1rem;
          }
          .b-day {
            font-size: 1rem;
          }
        }
      }
    }

    .col-center {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .center {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 2rem;
        padding: 0 1rem;
        font-size: 13px;
        width: 100%;

        .lcenter {
          .c-title {
            font-size: 13px;
          }

          .c-warn {
            font-size: 13px;
          }
        }
      }
    }
  }
}
