.book-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  min-width: 8rem;
  margin-top: 2rem;
  padding: 0 1rem;

  .btn-book {
    height: inherit;
    width: 8em;
    background-color: rgb(255, 145, 0);
    clip-path: polygon(14% 0, 100% 0, 100% 57%, 86% 100%, 0 100%, 0 46%);
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: #fff;
      font-weight: 400;
      font-size: 1rem;
    }

    &:hover {
      transition: all 0.2s ease-in;
      background-color: orangered;
      cursor: pointer;
      transform: translateX(10px);
    }
  }
}

.book-wrapper3 {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  width: 10rem;
  margin-top: 2rem;

  .btn-book {
    height: inherit;
    width: 8rem;
    background-color: rgb(251, 22, 22);
    clip-path: polygon(14% 0, 100% 0, 100% 57%, 86% 100%, 0 100%, 0 46%);
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: #fff;
      font-weight: 400;
      font-size: 1rem;
    }

    &:hover {
      transition: all 0.2s ease-in;
      background-color: orangered;
      cursor: pointer;
      transform: translateX(10px);
    }
  }
}

@media screen and (max-width: 1190px) {
  .book-wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4rem;
    min-width: 10rem;
    margin: 2rem 0 0 2rem;

    .btn-book {
      height: inherit;
      width: 9rem;
      background-color: rgb(255, 145, 0);
      clip-path: polygon(14% 0, 100% 0, 100% 57%, 86% 100%, 0 100%, 0 46%);
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: #fff;
        font-weight: 400;
        font-size: 1rem;
      }

      &:hover {
        transition: all 0.2s ease-in;
        background-color: orangered;
        cursor: pointer;
        transform: translateX(10px);
      }
    }
  }

  .book-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4rem;
    width: 100%;
    margin-top: 0;

    .btn-book {
      height: inherit;
      width: 100%;
      background-color: rgb(255, 145, 0);
      clip-path: none;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: #fff;
        font-weight: 400;
        font-size: 1rem;
      }
    }
  }

  .book-wrapper3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4rem;
    width: 100%;
    margin-top: 2px;

    .btn-book {
      height: inherit;
      width: 100%;
      background-color: rgb(251, 22, 22);
      clip-path: none;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: #fff;
        font-weight: 400;
        font-size: 1rem;
      }
    }
  }
}
