.cn-nav {
  border-bottom: 3px solid var(--color-surface-raised);
  min-width: 100%;
  .cn-toogle {
    border: none;

    &:hover {
      background-color: var(--color-surface-raised);
    }
    &:focus {
      box-shadow: none;
    }
  }

  .cn-collapse {
    padding: 0.625rem 0 0.9375rem 0.9375rem;
  }
  .list {
    color: var(--color-text);
    margin-right: 1rem;
    text-decoration: none;
    font-weight: 400;
    color: var(--color-text-muted);
    font-size: var(--font-size-lg);
    padding: 0.8rem 0 0;

    &:hover {
      border-bottom: 1px solid var(--color-accent-strong);
    }
    .cn-ic {
      display: none;
    }
  }
}

@media screen and (max-width: 890px) {
  .cn-nav {
    .list {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 5px;

      &:hover {
        transform: translateX(10px);
        transition: all 0.2s ease-in;
        border: none;
        color: var(--color-text);

        .cn-ic {
          color: var(--color-accent-strong);
        }
      }
      .cn-ic {
        font-size: var(--font-size-lg);
        display: block;
        margin-right: 0.6rem;
      }
    }
  }
}
