.n-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;

  .c-t {
    margin-bottom: 8px;
  }
  select {
    width: inherit;
    padding: 4px;
    border: 1px solid var(--color-border-strong);
    outline: none;
    background-color: var(--color-surface);
  }
}
